@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: "Roboto";
  background-color: #1c1c1c;
  color: #757575;
}

.navLog a {
  font-family: "Gluten";
  font-size: 2rem;
  padding: 10px 15px;
  text-align: center;
}

.navg a {
  color: #fafafa !important;
  font-family: "Montserrat";
  font-size: 1rem;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

.navg a:hover {
  background-color: #2c2929;
}

#bannerColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #00d4ff;
  background: -webkit-gradient(linear, left top, right top, from(#00d4ff), color-stop(0%, #02010b), color-stop(0%, #414149));
  background: linear-gradient(90deg, #00d4ff 0%, #02010b 0%, #414149 0%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.textos {
  font-family: "Roboto";
}

.textos.textos__bold {
  font-size: 2rem;
  font-weight: bold;
}

.textos.texto__parrafos {
  font-size: 1rem;
}

.textos.texto__blanco {
  color: #fafafa;
}

.carousel-inner {
  max-height: 700px;
}

.dropdown-menu {
  background-color: #fafafa;
}

.novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 250px;
  padding: 15px;
  height: 400px;
}

.novedades .novedades__content, .novedades .novedades__funcional, .novedades .novedades__musculacion {
  width: 50%;
}

.novedades .novedades__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.novedades .novedades__funcional {
  background-image: url("../assets/funcional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 45vh;
}

.novedades .novedades__musculacion {
  background-image: url("../assets/musculacion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45vh;
}

.boxContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.boxContent .boxContent__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boxContent__center {
  width: 50%;
}

.col-sm-6__centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card__tamanio-min {
  min-width: 250px;
}

.card .card__tamanio-max {
  max-height: 309px;
}

form {
  width: 450px;
  margin: auto;
  background: #24303c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  padding: 10px 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

@media all and (max-width: 1024px) {
  .novedades {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 100vh;
  }
  .novedades .novedades__content, .novedades .novedades__funcional, .novedades .novedades__musculacion {
    width: 100%;
  }
  #footer {
    max-height: 500px;
  }
}
/*# sourceMappingURL=estilos.css.map */